body{
  background-color: #f7f7f2 ;
}

#note{
  font-family: sans-serif;
  color: #c2ffd2;
  font-size: 12px; /* Little font size */
  padding: 10px; /* Padding around the note */
  animation: cssAnimation 0s 5s forwards;
  opacity: 1;
}

@keyframes cssAnimation {
  to   { opacity: 0; }
}

*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;
 }


img {
    display: none;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    max-height: 100%;
}
