body{
  background-color: #f7f7eb ;
}

*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;
 }


img {
    display: none;
}

canvas {
    background-color: #e8e8e8 ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    max-height: 100%;
}
